@font-face {
    font-family: OpenSansCond-Light;
    src: url(../fonts/OpenSansCondensed-Light.ttf);
}
@font-face {
    font-family: OpenSansCond-Bold;
    src: url(../fonts/OpenSansCondensed-Bold.ttf);
}
@font-face {
    font-family: RuslanDisplay;
    src: url(../fonts/RuslanDisplay-Regular.ttf);
}